* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




html{
    font-size: 16px;

}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(202, 206, 245);
    color:rgb(0, 0, 0);
}


.header{
    max-width: 860px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1{

    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.opciones-nav {
    display: flex;
    background-color: rgb(202, 206, 245);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0.25rem;
    margin: 0 auto 1.5rem;

}

